@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-message-container {
  background-color: rgb(88, 98, 90);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-message-first {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  line-height: 0;
  color: white;
  animation: slideInFromBottom 5s ease-out;
}
